#MergeBox
{
    width: 45%;
    float: right;
}

#FriendsBox
{
    width: 45%;
    float: left;
}

.cssPlanGroupCore, .cssPlanGroupOption {
    margin-top: 0px;
}


.togetherBtn
{
    background-color: green;
}

.cssMainContentRight .btnInPanel
{
    display: none;
}

.cssMainContentRight:hover .btnInPanel
{
    display: block;
}
.cssChildrenSsp {padding: 0% 2%;}

.slot
{
	margin: 0% 2%;
}