html, body{
    height: 100%;
}
/************************************* course panel ***********************************/
.cssMainContentRight .btnInPanel
{
    display: none;
}

.cssMainContentRight:hover .btnInPanel
{
    display: block;
}
/************************************* Sand Box ***********************************/


#sandBox
{
    float: left;
    width: 940px;
    height: 100%;
    overflow: auto;
}

#sandBox #fullWidth
{
    width: 920px;
}


.slot
{
    height: 108px;
    width: 180px;
    border: 4px dashed lightgray;
    border-radius: 5px;
    float: left;
    margin: 0px 10px;
}

#linkShare
{
    float: right;
}

/***************************** Course Pool *****************************/
#coursePool
{
    border: 4px solid black;
    border-radius: 5px;
    height: 98%;
    width: 380px;
}

.coursePoolOnLeft
{
    float: left;
}


.coursePoolOnRight
{
    position: relative;
    float: left;
}


#coursePool #btnToTree
{

    bottom:5px;
    left:0px;
}

#coursePool #btnToSandbox
{

    bottom:5px;
    right:0px;
}

#coursePool #btnShare
{

    bottom:5px;
    right:150px;
}
.draggable
{
    width: 180px;
    padding: 0.3em; 
    float: left; 
    margin: 0px; 
}

.ui-draggable-disabled
{
    color: #b1b1b1;
}

.OnSlot
{
    top:0px;
    left: 0px;
    padding: 0em; 
    float: left; 
    margin: 0px; 
}

.cssMainContent
{

    width: 180px;
    background-color : rgb(255, 255, 255);
    margin: 0px; 
}


/************************************** Tree Diagram**********************************/


#treeDiagram
{
    height: 99%; 
	border: 3px solid #DDD; 
    border-radius: 3px; 
    float: left;
}

.onHideAin
{
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
    animation-fill-mode: both;

}

.onShowAin
{
    animation-name: exampleabc;
    animation-duration: 2s;
    animation-fill-mode: both;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {width: 940px;}
    to {width: 0px;}
}

/* Standard syntax */
@keyframes example {
    from {width: 940px;}
    to {width: 0px;}
}

/* Standard syntax */
@keyframes exampleabc {
    from {width: 0px;}
    to {width: 940px;}
}

.chosen div .cssH1_SspStts_PASS
{
    background-color: #ffbb00;
}

.node { 
    width: 180px;
}

.cssMainContent
{
    margin: 0px 0px;
    width: 100%;
}

.cssMainContent:hover
{
    background-color: #9CB5ED;
}

.onChild div 
{
    background-color: #9CB5ED;
}



.info
{
    margin: -27px 4px 0px;
    float: right;
    height: 25px;
    width: 60px;
    color: black;
}

.btnInPanel
{
    float: right;
    padding: 2px 5px;
    display: none;
    height: 100%;
    border: 1px solid #DDD; 
    text-decoration: none;
    border-radius: 3px; 
}

.deleteBtn
{
    background-color: red;
}

.enrollBtn
{
    background-color: rgb(131, 131, 253);
}